<!-- Category Page -->
<div id="CategoryPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- List Header -->
    <header class="page-header">
      <h1>{{ $categoryPage.category.Name }}</h1>
    </header>

    <!-- Category Content -->
    <main>

      <!-- Category Lists Section -->
      <section class="lists">

        <!-- Category Lists -->
        <ul class="lists">

          <!-- List -->
          <li ng-repeat="list in $categoryPage.category.Lists | orderBy: 'Created'">
            <a ui-sref="app.user.listPage({ listId: list.Id })"
              layout="row"
              flex>
              <md-icon class="material-icons">
                list_alt
              </md-icon>
              <span class="list-title">{{ list.Title }}</span>
            </a>
          </li>

        </ul>

        <!-- Section Footer -->
        <footer>

          <!-- Create A New List Button -->
          <md-button class="md-raised md-primary"
            ng-click="$categoryPage.createList()">

            <!-- Icon -->
            <md-icon class="material-icons">
              create
            </md-icon>

            <!-- Text -->
            <span>Create a new list</span>

          </md-button>

        </footer>

      </section>

    </main>

  </div>
</div>
