<div layout="row"
  flex>

  <div class="user-dashboard"
    style="margin: 8px;padding:8px;"
    flex>

    <div layout="column">
      <div style="border-bottom: 1px solid rgba(0,0,0,0.12);margin:24px 8px 8px;padding:0 8px;height:49px;"
        layout="row"
        layout-align="start center">
        <md-card-header-text>
          <span class="md-headline">
            List Categories
          </span>
        </md-card-header-text>
      </div>

      <div layout="row"
        layout-xs="column"
        layout-wrap>
        <div flex-gt-xs="33"
          ng-repeat="category in categories">
          <md-card>
            <md-card-header ui-sref="app.user.app.dashboard({ appId: category.Id })">
              <md-card-avatar>
                <md-icon ng-if="!category.IconUrl"
                  class="material-icons">
                  webui
                </md-icon>
                <img ng-if="category.IconUrl"
                  src="{{ category.IconUrl }}" />
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">{{ category.Name }}</span>
                <span class="md-subhead">TaskEvo Category</span>
              </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-actions layout="row"
              layout-align="end center">
              <md-button class="md-primary"
                ui-sref="app.user.category.dashboard({ categoryId: category.Id })">
                <md-icon class="material-icons">
                  edit
                </md-icon>
                Edit Category
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-gt-xs="33">
          <div class="create-category-card"
            layout="column"
            layout-align="center center">
            <span>New category?</span>
            <md-button class="md-raised md-primary"
              ng-click="createCategory()">
              <md-icon class="material-icons">
                create
              </md-icon>
              Create a new category
            </md-button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
