<!-- List Page -->
<div id="ListPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- List Header -->
    <header>
      <div layout="row">

        <!-- Back Button Container -->
        <div layout="column"
          layout-align="center center">

          <!-- Back Button -->
          <md-button ng-click="$listPage.navToParent()">
            <md-icon class="material-icons">
              chevron_left
            </md-icon>
          </md-button>

        </div>

        <!-- List Title -->
        <h1>{{ $listPage.list.Title }}</h1>

        <!-- Add Item Button Container -->
        <div layout="column"
          layout-align="center center">

          <!-- Add Item Button -->
          <md-button class="md-raised md-primary"
            ng-click="$listPage.createItem()">

            <!-- Icon -->
            <md-icon class="material-icons">
              create
            </md-icon>

            <!-- Text -->
            <span>Add Item</span>

          </md-button>

        </div>

      </div>
    </header>

    <!-- List Content -->
    <main>

      <h2>To Do</h2>

      <!-- List Items -->
      <ol class="items todo">

        <!-- List Item -->
        <li ng-repeat="list in $listPage.todoItems"
          ng-class="{'completed': list.Completed !== null}"
          layout="row">

          <!-- List Item Check Box -->
          <div class="check-box">
            <md-button ng-click="$listPage.toggleComplete(list)">
              <md-icon class="material-icons">
                {{ null === list.Completed ? 'check_box_outline_blank' : 'check_box' }}
              </md-icon>
            </md-button>
          </div>

          <!-- List Item Text -->
          <div class="item-text"
            layout="column"
            layout-align="center start">
            <a ui-sref="app.user.listPage({ listId: list.Id })">
              {{ list.Title }}
            </a>
          </div>

        </li>

      </ol>

      <h2>Completed</h2>

      <!-- List Items -->
      <ol class="items completed">

        <!-- List Item -->
        <li ng-repeat="list in $listPage.completedItems"
          ng-class="{'completed': list.Completed !== null}"
          layout="row">

          <!-- List Item Check Box -->
          <div class="check-box">
            <md-button ng-click="$listPage.toggleComplete(list)">
              <md-icon class="material-icons">
                {{ null === list.Completed ? 'check_box_outline_blank' : 'check_box' }}
              </md-icon>
            </md-button>
          </div>

          <!-- List Item Text -->
          <div class="item-text"
            layout="column"
            layout-align="center start">
            <a ui-sref="app.user.listPage({ listId: list.Id })">
              {{ list.Title }}
            </a>
          </div>

        </li>

      </ol>

    </main>

  </div>
</div>
