<md-dialog id="Dialog_CreateList"
  aria-label="Create List Form">
  <form name="createListForm"
    ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create {{ typeOfList }}</h2>
        <span flex></span>
        <md-button class="md-icon-button"
          ng-click="cancel()">
          <md-icon class="material-icons"
            aria-label="Close dialog">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content"
        layout="column">
        <md-input-container>
          <label>{{ 'Item' === typeOfList && 'Summary' || 'Title' }}</label>
          <textarea name="listTitle"
            ng-model="$data.Title"
            rows="{{ 'Item' === typeOfList && 5 || 2 }}"
            md-maxlength="255"
            md-autofocus
            md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <md-checkbox name="listHasDueDate" ng-model="hasDueDate" required>
            {{ typeOfList }} has due date
          </md-checkbox>
        </md-input-container>

        <md-input-container ng-if="hasDueDate">
          <label>Due by</label>
          <input name="listDue"
            ng-model="$data.Due"
            type="datetime-local">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button class="md-primary"
        ng-click="answer()">
        Create {{ typeOfList }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
