<div class="app-schemas"
  layout="row"
  layout-xs="column">

  <div style="padding:8px;"
    flex>

    <div style="border-bottom: 1px solid rgba(0,0,0,0.12);margin:24px 8px 8px;padding:0 8px;height:49px;"
      layout="row"
      layout-align="start center">
      <md-card-header-text>
        <span class="md-headline">
          <span style="font-weight:300;color:rgba(0,0,0,0.5);">Schema /</span>
          {{ $schemaCtrl.schema.Name }}
        </span>
      </md-card-header-text>
    </div>

    <div ng-if="0 === $schemaCtrl.properties.length"
      layout="row"
      layout-align="start start"
      layout-wrap>

      <md-card flex>
        <md-card-content style="padding:0;" layout-align="center center">
          <div style="padding: 40px 16px;text-align: center;">
            Add a Property to make a start
            <md-button class="md-primary"
              ng-click="$schemaCtrl.createProperty($event)">
              <md-icon class="material-icons">
                edit
              </md-icon>
              Create Property
            </md-button>
          </div>
        </md-card-content>
      </md-card>

    </div>

    <div ng-if="$schemaCtrl.properties.length > 0"
      flex>

      <div class="schema-properties-container"
        layout="row"
        layout-wrap="true"
        layout-xs="column"
        layout-align="start center"
        layout-align-xs="start stretch">

        <div ng-repeat="property in $schemaCtrl.properties"
          flex-xs
          flex-gt-xs="33">
          <div class="schema-property"
            md-whiteframe="1dp"
            layout="row"
            layout-align="start center">
            <span class="md-caption http-method http-{{ operation.Method.toLowerCase() }}">
              {{ operation.Method.substr(0,3) }}
            </span>
            <span class="md-body-1">{{ property.Key }}</span>
            <span flex></span>
            <div>
              <md-menu class="md-secondary">
                <md-button class="md-icon-button" ng-click="$schemaCtrl.openMenu($mdMenu, $event)">
                  <md-icon md-menu-origin class="material-icons">
                    chevron_right
                  </md-icon>
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item>
                    <md-button>
                      Re-name
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="$schemaCtrl.deleteProperty(property)">
                      Delete property
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </div>

        <div class="inline-create-btn-wrapper"
          layout="row"
          layout-align="start center"
          flex-xs
          flex-gt-xs="30">
          <md-button ng-click="$schemaCtrl.createProperty($event, route)"
            class="md-no-style"
            style="margin-top:0;margin-bottom:0;"
            layout="row"
            flex>
            <span flex></span>
            <md-icon class="material-icons">add</md-icon>
            <span>Schema property</span>
            <span flex></span>
          </md-button>
        </div>

      </div>
    </div>

  </div>

  <div class="schema-side" flex="30">
    <md-list>
      <md-subheader>App Schemas</md-subheader>
      <md-list-item ng-repeat="schema in schemas" ui-sref="app.user.app.schema({ appId: model.Id, schemaId: schema.Id})">
          <md-icon class="material-icons">chevron_right</md-icon>
          <p>{{ schema.Name }}</p>
      </md-list-item>
    </md-list>
  </div>

</div>
